/* You can add global styles to this file, and also import other style files */

.p-timeline-event-content{
    margin-bottom: 2%;
}

.p-button-success{
    background-color: #495173 !important;
    border: 1px solid #495173 !important;
}

.p-timeline-event{
    margin-top: 2% !important;
}

.pCard{
    padding-right: 2% !important;
}

.p-card.p-component{
    height: 75% !important;
}