<!-- <app-countdowntimer></app-countdowntimer>
<div class="flex-column-container" >
    <div class="flex-row-container" >
        <app-card class="app-card"></app-card>
        <app-map class="app-map"></app-map>
    </div>
    <app-timeline class="app-timeline"></app-timeline>
</div> -->

<app-countdowntimer></app-countdowntimer>
<div class="flex-row-container" >
    <app-card class="app-card"></app-card>
    <app-map class="app-map"></app-map>
</div>
<app-timeline class="app-timeline"></app-timeline>
