<p-timeline [value]="arr" layout="horizontal" align="top">
  <ng-template pTemplate="marker" let-event>
    <span class="custom-marker p-shadow-2">
              <i [ngClass]="event.icon"></i>
          </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <p-card class="pCard" [header]="event.status" [subheader]="event.date">
      <img _ngcontent-ssh-c94="" height="150" class="shadow-2 ng-star-inserted" [src]="event.image" alt="undefined">
    </p-card>
  </ng-template>
</p-timeline>
  